Assignment 18

Q1. List any five functions of the pandas library with execution.

In [1]:
#Ans:
#1. read_csv()
import pandas as pd
df=pd.read_csv("test.csv")
df

  Name Roll no  Age  Gender
0    A     S01   20    Male
1    B     S02   21  Female
2    C     S03   22  Female
3    D     S04   23  Female
4    E     S05   21    Male
5    F     S06   24    Male
6    G     S07   25    Male
7    H     S08   19  Female
8    I     S09   24    Male
9    J     S10   22    Male

In [2]:
#2. describe()
df.describe()

             Age
count  10.000000
mean   22.100000
std     1.911951
min    19.000000
25%    21.000000
50%    22.000000
75%    23.750000
max    25.000000

In [7]:
#3. iloc()
df.iloc[0:3,[0,1,2,3]]

  Name Roll no  Age  Gender
0    A     S01   20    Male
1    B     S02   21  Female
2    C     S03   22  Female

In [8]:
#4. loc()
df.loc[0:4,['Name','Roll no','Age']]

  Name Roll no  Age
0    A     S01   20
1    B     S02   21
2    C     S03   22
3    D     S04   23
4    E     S05   21

In [10]:
#5. tail()
df.tail()

  Name Roll no  Age  Gender
5    F     S06   24    Male
6    G     S07   25    Male
7    H     S08   19  Female
8    I     S09   24    Male
9    J     S10   22    Male

Q2. Give a pandas DataFrame df with columns 'A', 'B', 'C', write a python function to re-index the DataFrame with a new index
    that starts from 1 and incremenents by 2 for each row.

In [7]:
#Ans:
import pandas as pd
data={'A':['P','Q','R','S','T','U','V','X','Y','Z'],'B':[20,23,21,22,24,25,20,19,23,26],'C':['S01','S02','S03','S04','S05','S06','S07','S08','S09','S10']}
df=pd.DataFrame(data)
df
Index=list(range(1,20,2))
def re_index():
    df1=pd.DataFrame(data,index=Index)
    print(df1)
re_index()

    A   B    C
1   P  20  S01
3   Q  23  S02
5   R  21  S03
7   S  22  S04
9   T  24  S05
11  U  25  S06
13  V  20  S07
15  X  19  S08
17  Y  23  S09
19  Z  26  S10

Q3. You have a pandas DataFrame df with a column named 'Values'. Write a python function that iterates over the DataFrame and
    calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [1]:
#Ans:
import pandas as pd
v={'values':[10,20,30,40,50]}
df=pd.DataFrame(v)
def calculate_sum(x):
    sum=0
    for i in range(0,3):
        sum+=x['values'][i]
    print(sum)
calculate_sum(df)

60

Q4. Given a pandas DataFrame df with a column 'Text', write a python function to create a new column 'Word_Count' that contains
    the number of words in each row of the 'Text' column.

In [15]:
#Ans:
import pandas as pd
t={'Text':["how are you",'I am a boy','hello dear','Wellcome to Python']}
df=pd.DataFrame(t)
def createCol_wordCount(x):
    w={'wordCount':[]}
    l=[]
    for i in x['Text']:
       count=len(i.split())
       l.append(count)
    w['wordCount']=l        
    x['Word_Count']=w['wordCount']
    print(x)
    
createCol_wordCount(df)

                 Text  Word_Count
0         how are you           3
1          I am a boy           4
2          hello dear           2
3  Wellcome to Python           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans: The size property is used to get an int representing the number of elements in an object and return the number of rows
     if Series. Otherwise, return no of rows*no of columns if DataFrame. On the otherhand, the shape property is used to get
     a tuple representing the dimensionality of the pandas DataFrame.

In [17]:
#For example:
import pandas as pd
df=pd.read_csv("test.csv")
size=df.size
shape=df.shape
print("size is :",size)
print("shape is :",shape)

size is : 40
shape is : (10, 4)

Q6. Which function of pandas do we use to read an excel file?

Ans: read_excel() is used to read an excel file.

Q7. You have a pandas DataFrame df that contains a columned name 'Email' that contains email addresses in the format                 'username@domain.com'. Write a python function that creates a new column 'Username' in df that contains only the username        part of each email addresses.

In [7]:
#Ans:
import pandas as pd
email={'Email':['abc@gmail.com','xyz@gmail.com','pqr@gmail.com','std@gmail.com']}
df=pd.DataFrame(email)
user_name=[]
def createCol_username(x):
    for i in x['Email']:
        s=i.split(sep='@')
        user_name.append(s[0])
    x['Username']=user_name
    print(x)
createCol_username(df)

           Email Username
0  abc@gmail.com      abc
1  xyz@gmail.com      xyz
2  pqr@gmail.com      pqr
3  std@gmail.com      std

Q8. You have a Pandas DataFrame df with columns 'A','B', and 'C'. Write a Python function that selects all rows where the value
    in column 'A' is greater than 5 and the value in column 'B' less than 10. The function should return a new DataFrame that
    contains only the selected rows.

In [7]:
#Ans:
import pandas as pd
data={'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df1=pd.DataFrame(data)
def f(df):
    new_DataFrame=df[df['A']>5][df['B']<10]
    return new_DataFrame
f(df1)

C:\Users\Arup\AppData\Local\Temp\ipykernel_3716\3342368650.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  new_DataFrame=df[df['A']>5][df['B']<10]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column "Values". Write a python function to calculate the mean, median, and standard        deviation of the values in "Values" column.

In [8]:
#Ans:
import pandas as pd
d={'Values':[10,11,21,26,30,15,29,11,19,25]}
df_values=pd.DataFrame(d)
def fun(df):
    mean=df['Values'].mean()
    median=df['Values'].median()
    sd=df['Values'].std()
    print(f"Mean is: {mean}")
    print(f"Median is: {median}")
    print(f"Standard deviation is: {sd}")
fun(df_values)

Mean is: 19.7
Median is: 20.0
Standard deviation is: 7.674633541739958

Q10. Given a Pandas DataFrame df with a column "Sales" and a column "Date". Write a Python function to create a new column
     'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving
     average should be calculated using a window of size 7 and should include the current day.

In [9]:
#Ans:
import pandas as pd 
date=pd.date_range(start='2023-07-26',end='2023-08-04')
d1={"Sales":[1000,3500,2300,1500,2900,3100,1900,2500,1300,3700],"Date":date}
df_sales=pd.DataFrame(d1)
def f3(df):
    movingAverage=df['Sales'].rolling(window=7).mean()
    df['MovingAverage']=movingAverage
    print(df)
f3(df_sales)

   Sales       Date  MovingAverage
0   1000 2023-07-26            NaN
1   3500 2023-07-27            NaN
2   2300 2023-07-28            NaN
3   1500 2023-07-29            NaN
4   2900 2023-07-30            NaN
5   3100 2023-07-31            NaN
6   1900 2023-08-01    2314.285714
7   2500 2023-08-02    2528.571429
8   1300 2023-08-03    2214.285714
9   3700 2023-08-04    2414.285714

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that ceates a new column 'Weekday' in the          DataFrame. The 'Weekday' column should contain the weekday name (eg: Monday, Tuesday) corresponding to each date in the          'Date' column.

In [10]:
#Ans:
import pandas as pd
date={'date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']}
df_date=pd.DataFrame(date)
def f4(df):
    modified_df=pd.DataFrame()
    modified_df["Date"]=pd.to_datetime(df["date"])
    weekDay=modified_df["Date"].dt.day_name()
    modified_df['Weekday']=weekDay
    print(modified_df)
f4(df_date)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps. Write a Python function to select all rows where      the data is between '2023-01-01' and '2023-01-31'.

In [11]:
#Ans:
import pandas as pd
timestamp_range=pd.date_range(start='2023-01-01',end='2023-01-10')
df_timestamp=pd.DataFrame({"Date":timestamp_range})
def f5(df):
    select_date=df.loc[(df['Date']>'2023-01-01') & (df['Date']<'2023-01-10')]
    print(select_date)
f5(df_timestamp)

        Date
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
5 2023-01-06
6 2023-01-07
7 2023-01-08
8 2023-01-09

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be import?

Ans: Pandas library